<ion-header>
  <ion-toolbar>
    <ion-title>Add New Listing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title size="large">Turn <ion-icon size='large' name="disc-sharp"></ion-icon> Table</ion-card-title>
      <ion-card-subtitle>The Used Record Marketplace</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Name:</ion-label>
        <ion-input #name required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Description:</ion-label>
        <ion-input #description required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Price:</ion-label>
        <ion-input #price required></ion-input>
      </ion-item>
      <ion-button (click)="submitNewListing(name, description, price)">
        Add Listing
      </ion-button>
      <ion-button [routerLink]="['/tabs']">
        Cancel
      </ion-button>
    </ion-card-content>    
  </ion-card>
</ion-content>
