<ion-header [translucent]="true">
  <ion-toolbar class='mainheader'>
    <ion-title size="large">
      Marketplace
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Here are some listings that may interest you.</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img src='{{cardpath}}'/>
    <ion-card-header>
      <ion-card-title>Tron Legacy Soundtrack</ion-card-title>
      <ion-card-subtitle>$20</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Original movie soundtrack, only opened, never played.
    </ion-card-content>
    <ion-button class="offerbutton" (click)='checkPath()'>
      Make Offer
    </ion-button>
  </ion-card>
  
</ion-content>
