<ion-header [translucent]="true">
  <ion-toolbar class='mainheader'>
    <ion-title size="large">
      Marketplace
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Here are some listings that may interest you.</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card *ngFor="let data of listings">
    <img src='{{data.imglink}}'>
    <ion-card-header>
      <ion-card-title>{{data.Name}}</ion-card-title>
      <ion-card-subtitle>${{data.Price}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{data.Description}}</p>    
      <ion-button class="offerbutton" (click)='presentAlert()'>
        Make Offer
      </ion-button> 
    </ion-card-content>
  </ion-card>
  
</ion-content>
