<ion-header [translucent]="true">
  <ion-toolbar class='mainheader'>
    <ion-title>
      <ion-title size="large">Turn <ion-icon size='large' name="disc-sharp"></ion-icon> Table</ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome back, user</ion-card-title>
      <ion-card-subtitle>Here are your listings</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <!--To do: add modal that pops up with offers-->
  <ion-card>
    <img src="assets/afterhoursvinyl.jpg"/>
    <ion-card-header>
      <ion-card-title>After Hours</ion-card-title>
      <ion-card-subtitle>$30</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Original After Hours vinyl with packaging. Record has been played less than ten times with little wear.
    </ion-card-content>
    <ion-button class="offerbutton">
      View Offers
    </ion-button>
  </ion-card>

  <!--To do: add a little button that allows you to add more listings-->
</ion-content>
