<ion-header [translucent]="true">
  <ion-toolbar class='mainheader'>
    <ion-title>
      <ion-title size="large">Turn <ion-icon size='large' name="disc-sharp"></ion-icon> Table</ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-card>
    <ion-card-header>
      <ion-card-title *ngIf="userLogged">Welcome back, user</ion-card-title>
      <ion-card-subtitle *ngIf="userLogged" >Here are your listings</ion-card-subtitle>
      <ion-card-title *ngIf="userNotLogged">Welcome to Turntable</ion-card-title>
      <ion-card-subtitle *ngIf="userNotLogged" >Sign in to see your listings.</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <!--To do: add modal that pops up with offers-->
  <ion-card>
    <img src="assets/afterhoursvinyl.jpg"/>
    <ion-card-header>
      <ion-card-title>After Hours</ion-card-title>
      <ion-card-subtitle>$30</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Original After Hours vinyl with packaging. Record has been played less than ten times with little wear.
    </ion-card-content>
    
    <ion-button class="offerbutton" (click)="checkLog()">
      View Offers
    </ion-button>

  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-button  [routerLink]="['/signup']">
        Sign Up
      </ion-button>

      <ion-button [ngStyle]="{ float:'right' }" [routerLink]="['/login']">
        Log In
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)='newListingAlert()'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
